<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Admin Page</title>
</head>
<body>
<h1>Admin, welcome spring boot security page!</h1>
 <p th:text="'Username: ' + ${admin.getUsername()}">VALUE</p>
 <p th:text="'Password: ' + ${admin.getPassword()}">VALUE</p>
 <p th:text="'FirstName: ' + ${admin.getFirstName()}">VALUE</p>
 <p th:text="'LastName: ' + ${admin.getLastName()}">VALUE</p>
 <p th:text="'Age: ' + ${admin.getAge()}">VALUE</p>
 <p th:text="'Roles: ' + ${admin.getRole()}">VALUE</p>

<form th:action="@{/admin/users}" th:method="GET">
    <input type="submit" value="Show all users!"/>
</form>

<br/>

<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="logout"/>
</form>

</body>
</html>