<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>
<body>
<!--<div class="modal" id="modal-one" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Modal in CSS?</h2>
            <a href="#close" class="btn-close" aria-hidden="true">×</a> &lt;!&ndash; Изменяем на "#close"&ndash;&gt;
        </div>
        <div class="modal-body">
            <p>One modal example here! :D</p>
        </div>
        <div class="modal-footer">
            <a href="#close" class="btn">Nice!</a>  &lt;!&ndash;Изменяем на "#close"&ndash;&gt;
        </div>
    </div>
</div>
</div>-->
<!--<form th:method="PATCH" th:action="@{/admin/users/{id}/editUser(id=${user.getId})}" th:object="${user}">

    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username"/>

    <br/>

    <label for="firstName">First Name</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>

    <br>

    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <br>

    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age"/>

    <br/>

    <input type=checkbox id=adminId name=roles[] value="ROLE_ADMIN">
    <label for="adminId">Admin</label>

    <br/>

    <input type=checkbox id=userId name=roles[] value="ROLE_USER">
    <label for="userId">User</label>

    <br>

    <input type="submit" value="Update!"/>

</form>-->
<!--jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>