<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/users/{id}/editUser(id=${user.getId})}" th:object="${user}">

    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username"/>

    <br/>

    <label for="firstName">First Name</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>

    <br>

    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <br>

    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age"/>

    <br/>

    <input type=checkbox id=adminId name=roles[] value="ROLE_ADMIN">
    <label for="adminId">Admin</label>

    <br/>

    <input type=checkbox id=userId name=roles[] value="ROLE_USER">
    <label for="userId">User</label>

    <br>

    <input type="submit" value="Update!"/>

</form>

</body>
</html>