<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/users/newUser}" th:object="${user}"><!--th:action="@{/admin/users}"/a}"-->

    <label for="username">Username</label>
    <input name="username" type="text" id="username"/>

    <br/>

    <label for="password">Password</label>
    <input type="password" name="password" id="password"/>

    <br/>

    <label for="firstName">Name</label>
    <input name="firstName" type="text" id="firstName"/>

    <br/>

    <label for="lastName">Last Name</label>
    <input name="lastName" type="text" id="lastName"/>

    <br/>

    <label for="age">Age</label>
    <input name="age" type="text" id="age"/>

    <br/>

    <input type=checkbox id=adminId name=roles[] value="ROLE_ADMIN">
    <label for="adminId">Admin</label>

    <br/>

    <input type=checkbox id=userId name=roles[] value="ROLE_USER">
    <label for="userId">User</label>

    <br/>

    <input type="submit" value="Create!"/>

</form>
</body>
</html>