<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="'Username: ' + ${user.getUsername()}">VALUE</p>
<p th:text="'Password: ' + ${user.getPassword()}">VALUE</p>
<p th:text="'FirstName: ' + ${user.getFirstName()}">VALUE</p>
<p th:text="'LastName: ' + ${user.getLastName()}">VALUE</p>
<p th:text="'Age: ' + ${user.getAge()}">VALUE</p>
<p th:text="'Roles: ' + ${user.getRoles()}">VALUE</p>

<form th:method="GET" th:action="@{/admin/users/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit user!"/>
</form>

<br/>

<form th:method="DELETE" th:action="@{/admin/users/{id}/delete(id=${user.getId()})}">
    <input type="submit" value="Delete user"/>
</form>
</body>
</html>